body{
    font-family: Montserrat;
}
#navigation{
    display: flex;
    margin-left: 50px;
    padding-top: 20px;
}
.button{
    color: white;
    text-decoration: none;
    
}
.button:hover{
   padding: 2px;
   background-color: #130e27; 
   border-radius: 3px;
   
}
#header{
    background-image: url(/img/Layer13.png);
    background-color: #ff4838;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    color: white;
}
h1{
    font-size: 100px;
    line-height: 90px;
}
h2{
    color: #130e27;
    font-size: 50px;
}
#text{
    width:40%;
    margin-left: 100px;
}
#sell_car{
    color:#130e27;
}
#our_service{
    color: #c42112;
}
#service{
    display: flex;
}
#Story{
    background-color: #130e27;
    color: white;
    height: 80px;
}
#text_price{
    text-align: center;
}
