body{
    font-family: Montserrat;
}
#navigation{
    display: flex;
}
.button{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    
}
.button:hover{
   padding: 3px;
   background-color: black; 
   border-radius: 3px;
   
}
#header{
    background-image: url(/img/Layer13.png);
    background-color: #ff4838;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    color: white;
}
h1{
    font-size: 100px;
}
#text{
    width:40%;
    margin-left: 100px;
}
#service{
    display: flex;
    
}